    <div class="footer">
        <div class= "footer-first">
            <h3>Article Blog</h3>
            <p>Designed and Developed <br> by Sajen Bir</p>
        </div>
        <div class= footer-mid>
            <div class =  "footer-mid-text">
                <p span class="footer-mid-p">Privacy Policy</p>
                <p span class="footer-mid-t">Terms of Use</p>
            </div>
            <div class = "footer-mid-copyright">
                <p>Copyright @2020-2021, Article blog</p>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>