<nav class="navbar navbar-light" style="background-color: #4744d400;">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="" height="32" class="d-inline-block align-top">
      The Article Blog
    </a>

    <div class = "container-fluid-link">
      <div class="container-fluid-link-login">
        <a href="/login">Login</a>
      </div> 
      <div class = "container-fluid-link-register">  
        <a href="/register">Register</a>
      </div>
    </div>
  </div>  
</nav>


