<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Article</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel= "stylesheet" type="text/css">
</head>
<body>
    <%- include('partials/_field_navbar.ejs') %>
   

<div class = "container-main">
    <div class = "container-main-first">
        <img src="images/a.jpg" class="img-fluid" alt="Image couldn't load">
        
        <div class = "container-main-text">
            <h2>Explore new perspective</h2>
        </div>
        <div class = "container-main-text">
            <p>
                Read and share ideas from independent voices, world-class publications,<br> and experts from around the globe. Everyone's welcome.</p>
            </div>
            <a href = "/blog" button type="button" class="btn btn-lg btn-outline-primary">Read Blogs</button></a>
        </div>
        
        <div class="container-main-second">
            <img src ="images/share.jpg" height="350px">
            <div class="container-main-second-info">
                <h2>Create anything, for anyone.</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            </div>
        </div>
        
        <div class = "container-main-third">
            <div class="container-main-third-text">
                <p>Get Started with the Article Blog
                    Over 60 million people have chosen article blog to power the place on the web they call “home” — 
                    join the family.</p>
                    <a href= "/blog" button type="button" class="btn btn-lg btn-outline-primary">Read Blogs</button></a>
                </div>
                <img src= "images/c.jpg">
            </div>
        </div>
        <%- include('partials/_field_footer') %>
        
        
        
        
        
        