<%- include('partials_head') %>  

        <h1 class = "mb-4">New Article</h1>

        <form action = "/articles" method = "POST">
            <%- include('form_field') %>
        </form>
    </div>
</body>
</html>